# Frontend Environment Configuration Example
# Copy and create a new file .env , replace these values with your actual configuration

# Backend API URL - change for production/development
REACT_APP_BACKEND_URL=https://socb.tech-iitb.org/api
REACT_APP_API_URL=https://socb.tech-iitb.org
REACT_APP_FRONTEND_URL = https://wncc-soc.tech-iitb.org

REACT_APP_ENV=development

# Domain name for the frontend
# Development: http://localhost:3000/
# Production: https://soc.tech-iitb.org/
DOMAIN_NAME=https://wncc-soc.tech-iitb.org/ 